@import "tailwindcss";
@plugin "tailwind-scrollbar";
@source "../views/";
@source "../../app/";
@import "./cf7-overrides.css";

body {
    background-color: #0b0b0b;
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    display: block;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}
